{% extends "admin/base.html.twig" %}

{% block title "setting.title.title"|trans %}

{% block title_h1 "setting.title.h1"|trans %}

{% block body %}
	<div class="card shadow mt-3">
		<div class="card-header d-flex align-items-center">
			<h6 class="m-0 font-weight-bold text-primary">{{ "setting.title.localeForm"|trans }}</h5>
		</div>
		<div class="card-body">
			{{ form_start(localeForm) }}
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12">
					{{ form_row(localeForm.locale) }}
				</div>
			</div>

			<div class="row">
				<div class="col-12 text-center mt-3">
					{{ form_row(localeForm.submit) }}
				</div>
			</div>

			{{ form_row(localeForm._token) }}

			{{ form_end(localeForm, {"render_rest": false}) }}
		</div>
	</div>


{% endblock %}
