{% extends "admin/base.html.twig" %}

{% block title "setting.title.title"|trans %}

{% block title_h1 "setting.title.h1"|trans %}

{% block body %}

	<div class="row mt-5">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<div class="card shadow card-same-height">
				<div class="card-header d-flex align-items-center">
					<h6 class="m-0 font-weight-bold text-primary">{{ "setting.title.parameter"|trans }}</h5>
				</div>
				<div class="card-body">
					{{ form_start(localeForm) }}
					
						{{ block("content", "admin/setting/_form.html.twig") }}

						{{ block("submit", "admin/setting/_form.html.twig") }}

					{{ form_end(localeForm, {"render_rest": false}) }}
				</div>
			</div>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="card shadow card-same-height">
				<div class="card-header d-flex align-items-center">
					<h6 class="m-0 font-weight-bold text-primary">{{ "setting.title.module"|trans }}</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 text-right">
							{% if is_granted(constant("App\\Entity\\User::DEV")) %}
								<a href="{{ path("admin_module_add") }}" class="btn btn-success btn-icon-split ml-auto btn-sm">
									<span class="icon text-white-50">
										<i class="fas fa-plus"></i>
									</span>
									<span class="text">{{ "button.addModule"|trans }}</span>
								</a>
							{% endif %}
						</div>
					</div>

					<div class="table-responsive mt-3">
						<table class="table" id="moduleTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>{{ "table.title"|trans }}</th>
									<th>{{ "table.keyname"|trans }}</th>
									<th></th>
									{% if is_granted(constant("App\\Entity\\User::DEV")) %}
										<th></th>
									{% endif %}
								</tr>
							</thead>
							<tbody>
								{% for module in modules %}
									<tr>
										<td>
											<span class="font-weight-bold">{{ module.title }}</span>
										</td>
										<td>{{ module.keyname }}</td>
										<td>
											<label class="switch">
												<input type="checkbox" {{ module.enabled ? "checked" : "" }} class="input-switch" data-url="{{ path("admin_module_change", { id: module.id }) }}">
												<span class="slider round"></span>
											</label>
										</td>
										{% if is_granted(constant("App\\Entity\\User::DEV")) %}
											<td>
												<a href="{{ path("admin_module_edit", { id: module.id }) }}" class="btn btn-primary rounded with-icon" data-toggle="tooltip" data-placement="top" title="{{ "tooltip.edit"|trans }}">
													<i class="fas fa-edit"></i>
												</a>
											</td>
										{% endif %}	
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags("manageModule") }}
{% endblock %}