{% extends "admin/base.html.twig" %}

{% block title "homePage.edit.title"|trans %}

{% block title_h1 "homePage.edit.h1"|trans %}

{% block body %}

	{{ form_start(form) }}

	<div class="row">

		<div class="col-12">
			<hr>
		</div>

		{% if is_module_enabled("seo") %}
			<div class="col-12">
				<div class="card shadow card-seo mb-3">
					<a href="#SeoPageCard" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="SeoPageCard">
						<h6 class="m-0 font-weight-bold text-primary">{{ "form.homePage.seo"|trans }}</h6>
					</a>
					<div class="collapse" id="SeoPageCard">
						<div class="card-body">

							{{ block("seo", "admin/form/_seo.html.twig") }}

						</div>
					</div>
				</div>
			</div>
		{% endif %}

		<div class="col-md-12 col-sm-12">
			<div class="card shadow mt-3">
				<div class="card-header d-flex align-items-center">
					<h6 class="m-0 font-weight-bold text-primary">{{ "form.title.content"|trans }}</h5>
				</div>
				<div class="card-body">

					{{ block("header", "admin/homePage/_form.html.twig") }}

				</div>
			</div>
		</div>

		<div class="col-md-12 col-sm-12">
			<div class="card shadow mt-3">
				<a href="#AboutSectionCard" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="AboutSectionCard">
					<h6 class="m-0 font-weight-bold text-primary">{{ "form.homePage.aboutSection"|trans }}</h6>
				</a>
				<div class="collapse" id="AboutSectionCard">
					<div class="card-body">
						
						{{ block("about", "admin/homePage/_form.html.twig") }}

					</div>
				</div>
			</div>
		</div>

		{{ block("submit", "admin/homePage/_form.html.twig") }}

	</div>

	{{ form_end(form, {"render_rest": false}) }}

{% endblock %}
