{% extends "admin/base.html.twig" %}

{% block title "template.list.title"|trans %}

{% block title_h1 "template.list.h1"|trans %}

{% block stylesheets %}
  <link href="{{ asset("sbadmin2/vendor/datatables/dataTables.bootstrap4.min.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="card shadow my-4">
        <div class="card-header py-2 d-flex align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">{{ "page.table.title"|trans }}</h6>
            <a href="{{ path("admin_template_add") }}" class="btn btn-success btn-icon-split ml-auto btn-sm">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">{{ "button.add"|trans }}</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="templateTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center text-uppercase">{{ "table.title"|trans }}</th>
                            <th class="text-center text-uppercase">{{ "table.keyname"|trans }}</th>
                            <th class="text-center text-uppercase">{{ "table.pages"|trans }}</th>
                            <th class="text-center text-uppercase action">{{ "table.action"|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for template in templates %}
                        <tr>
                            <td class="text-center align-middle"><span class="font-weight-bold">{{ template.title }}</span></td>
                            <td class="text-center align-middle">{{ template.keyname }}</td>
                            <td class="text-center align-middle"><span class="badge badge-primary">{{ template.pages|length }}</span></td>
                            <td class="text-center align-middle">
								<a href="{{ path("admin_template_edit", {id: template.id}) }}" class="btn btn-primary rounded with-icon" data-toggle="tooltip" data-placement="top" title="{{ "tooltip.edit"|trans }}">
									<i class="far fa-edit"></i>
								</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset("sbadmin2/vendor/datatables/jquery.dataTables.min.js") }}"></script>
  <script src="{{ asset("sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js") }}"></script>

  {{ encore_entry_script_tags('datatable_template') }}
{% endblock %}