{% block collection %}
	<ul class="collection nav-links-collection pl-0" id="sort" data-prototype="{{ form_widget(form.navLinks.vars.prototype)|e('html_attr') }}">

		{% for navLink in form.navLinks|sort((a, b) => a.position <=> b.position) %}

			<li>
				<span class="move-icon">
					<i class="fas fa-arrows-alt"></i>
				</span>

				<div class="nav-item nav-item-sortable">

					<div class="bullet nav-bullet-position"></div>

					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-12">
							{{ form_row(navLink.internal) }}
						</div>
					</div>
					<div class="row nav-item-content">
						<div class="col-lg-4 col-md-4 col-sm-12 nav-input-title">
							{{ form_row(navLink.title) }}
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 nav-input-link">
							{{ form_row(navLink.link) }}
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 nav-input-page">
							{{ form_row(navLink.page) }}
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 nav-input-position d-none">
							{{ form_row(navLink.position) }}
						</div>
					</div>
				</div>

				<hr>

			</li>

        {% else %}
            <p class="mb-0 unsortable empty-navlink">{{ "navLink.empty"|trans }}</p>
		{% endfor %}

	</ul>
{% endblock collection %}

{% block submit %}
	{{ form_row(form._token) }}
	<div class="col-12">
		<hr>
	</div>
	<div class="col-12">
		<div class="card shadow">
			<div class="card-body">
				<div class="d-flex justify-content-center align-items center">
					{{ form_row(form.submit) }}
				</div>
			</div>
		</div>
	</div>
{% endblock submit %}
