{% extends "admin/base.html.twig" %}
{% form_theme form "admin/form/_collection_nav.html.twig" %}

{% block title "nav.edit.title"|trans %}

{% block title_h1 "nav.edit.h1"|trans %}

{% block body %}

	{{ form_start(form) }}
	
	<div class="row">

		<div class="col-12">
			<hr>
		</div>

		<div class="col-12">
			<div class="card shadow collection">
				<div class="card-header d-flex align-items-center">
					<h6 class="m-0 font-weight-bold text-primary collection-title">{{ "form.title.navLinks"|trans }}</h5>
				</div>
				<div class="card-body">
					
					{{ block("collection", "admin/nav/subnav/_form.html.twig") }}

				</div>
			</div>
		</div>

		{{ block("submit", "admin/nav/_form.html.twig") }}

	</div>
	
	{{ form_end(form, {"render_rest": false}) }}

{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

	<script>
		var collectionButtonTextAdd = '{{ "button.add"|trans }}';
		var collectionButtonTextRemove = '{{ "button.remove"|trans }}';
	</script>

	{{ encore_entry_script_tags('manageNavForm') }}
	{{ encore_entry_script_tags('collection') }}
	{{ encore_entry_script_tags('sort') }}

{% endblock %}