{% extends "admin/base.html.twig" %}
{% form_theme form "admin/form/_collection_nav.html.twig" %}

{% block title "nav.add.title"|trans %}

{% block title_h1 "nav.add.h1"|trans %}

{% block body %}

	{{ form_start(form) }}
	
	<div class="row">

		<div class="col-12">
			<hr>
		</div>

		<div class="col-md-9 col-sm-12">
			<div class="card shadow mt-3">
				<div class="card-header d-flex align-items-center">
					<h6 class="m-0 font-weight-bold text-primary">{{ "form.title.content"|trans }}</h5>
				</div>
				<div class="card-body">
					
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							{{ form_row(form.title) }}
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12">
							{{ form_row(form.keyname) }}
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-12">
			<div class="card shadow mt-3">
				<div class="card-header d-flex align-items-center">
					<h6 class="m-0 font-weight-bold text-primary">{{ "form.title.aside"|trans }}</h5>
				</div>
				<div class="card-body">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							{{ form_row(form.main) }}
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-lg-12">
							{{ form_row(form.enabled) }}
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="col-12">
			<hr>
		</div>

		<div class="col-12">
			<div class="card shadow collection">
				<div class="card-header d-flex align-items-center">
					<h6 class="m-0 font-weight-bold text-primary collection-title">{{ "form.title.navLinks"|trans }}</h5>
				</div>
				<div class="card-body">
					<ul class="collection nav-links-collection pl-0 mb-0" id="sort" data-prototype="{{ form_widget(form.navLinks.vars.prototype)|e('html_attr') }}">
						<p class="mb-0 unsortable empty-navlink">{{ "navLink.empty"|trans }}</p>
					</ul>
				</div>
			</div>

			{{ form_row(form._token) }}

		</div>

		<div class="col-12">
			<hr>
		</div>

		<div class="col-12">
			<div class="card shadow">
				<div class="card-body">
					<div class="d-flex justify-content-center align-items center">
						{{ form_row(form.submit) }}
					</div>
				</div>
			</div>
		</div>

	</div>
	
	{{ form_end(form, {"render_rest": false}) }}

{% endblock %}

{% block javascripts %}

	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

	<script>
		var collectionButtonTextAdd = '{{ "button.add"|trans }}';
		var collectionButtonTextRemove = '{{ "button.remove"|trans }}';
	</script>

	{{ encore_entry_script_tags('manageNavForm') }}
	{{ encore_entry_script_tags('collection') }}
	{{ encore_entry_script_tags('sort') }}

{% endblock %}
