{% extends "admin/base.html.twig" %}

{% block title "nav.list.title"|trans %}

{% block title_h1 "nav.list.h1"|trans %}

{% block stylesheets %}
  <link href="{{ asset("sbadmin2/vendor/datatables/dataTables.bootstrap4.min.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="card shadow my-4">
        <div class="card-header py-2 d-flex align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">{{ "nav.table.title"|trans }}</h6>
            <a href="{{ path("admin_nav_add") }}" class="btn btn-success btn-icon-split ml-auto btn-sm">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">{{ "button.add"|trans }}</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="navTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>{{ "table.title"|trans }}</th>
                            <th>{{ "table.keyname"|trans }}</th>
                            <th class="visible">{{ "table.visible"|trans }}</th>
                            <th class="number-element">{{ "table.numberElement"|trans }}</th>
                            <th class="entry-date">{{ "table.createdAt"|trans }}</th>
                            <th class="entry-date">{{ "table.updatedAt"|trans }}</th>
                            <th class="action">{{ "table.action"|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for nav in navs %}
                        <tr>
                            <td><span class="font-weight-bold">{{ nav.title }}</span></td>
                            <td>{{ nav.keyname }}</td>
                            <td class="visible">{{ icon_from_bool(nav.enabled) }}</td>
                            <td class="number-element">
                                <a href="#" class="badge badge-primary">{{ nav.navlink|length }}</a>
                            </td>
                            <td>{{ nav.createdAt | format_datetime('medium', 'medium', locale = app.request.locale) }}</td>
                            <td>{{ nav.updatedAt | format_datetime('medium', 'medium', locale = app.request.locale) }}</td>
                            <td>
								{# <a href="{{ path("admin_page_edit", {id: page.id}) }}" class="btn btn-primary rounded with-icon" data-toggle="tooltip" data-placement="top" title="{{ "tooltip.edit"|trans }}">
									<i class="far fa-edit"></i>
								</a>
                                <form class="d-inline-block" action="{{ url('admin_page_delete', { id: page.id }) }}" method="post">
                                
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-page') }}"/>

                                    <button class="btn btn-danger rounded with-icon" type="submit" data-toggle="tooltip" data-placement="top" title="{{ "tooltip.remove"|trans }}">
                                        <i class="far fa-trash-alt"></i>
                                    </button>

                                </form> #}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset("sbadmin2/vendor/datatables/jquery.dataTables.min.js") }}"></script>
  <script src="{{ asset("sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js") }}"></script>

  {{ encore_entry_script_tags('datatable_nav') }}
{% endblock %}