{% extends "admin/base.html.twig" %}
{% form_theme form "admin/page/_form.html.twig" %}

{% block title "page.add.title"|trans %}

{% block title_h1 "page.add.h1"|trans %}

{% block body %}

	{{ form_start(form) }}

	<div class="row">

		<div class="col-12">
			<hr>
		</div>

		<div class="col-md-9 col-sm-12">
			<div class="row">
				<div class="col-12">
					<div class="card shadow card-same-height">
						<div class="card-header d-flex align-items-center">
							<h6 class="m-0 font-weight-bold text-primary">{{ "form.title.content"|trans }}</h5>
						</div>
						<div class="card-body">

							{{ block("header", "admin/page/_form.html.twig") }}

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-12">
			<div class="card shadow card-same-height">
				<div class="card-header d-flex align-items-center">
					<h6 class="m-0 font-weight-bold text-primary">{{ "form.title.aside"|trans }}</h5>
				</div>
				<div class="card-body">

					{{ block("aside", "admin/page/_form.html.twig") }}

				</div>
			</div>
		</div>

		{{ block("submit", "admin/page/_form.html.twig") }}

	</div>

	{{ form_end(form, {"render_rest": false}) }}

{% endblock %}
