{% extends "admin/base.html.twig" %}
{% form_theme form "admin/page/_form.html.twig" %}

{% block stylesheets %}
	<link href="{{ asset('build/skins/content/default/content.min.css') }}"></link>
	<link href="{{ asset('build/skins/ui/oxide/skin.min.css') }}"></link>
{% endblock %}

{% block title "page.edit.title"|trans %}

{% block title_h1 "page.edit.h1"|trans %}

{% block body %}
	{% if form.internalTemplate is defined %}
		{{ form_start(form, {'attr': {'id': 'text_editor', 'data-internal-template-id': app.request.attributes.get('page').internalTemplate.id }}) }}
	{% else %}
		{{ form_start(form) }}
	{% endif %}
	
	<div class="row">

		<div class="col-12">
			<hr>
		</div>

		<div class="col-md-12 col-sm-12">
			<div class="row">
				
				{% if is_module_enabled("seo") %}
					<div class="col-12">
						<div class="card shadow card-seo mb-3">
							<a href="#SeoPageCard" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="SeoPageCard">
								<h6 class="m-0 font-weight-bold text-primary">{{ "form.homePage.seo"|trans }}</h6>
							</a>
							<div class="collapse" id="SeoPageCard">
								<div class="card-body">

									{{ block("seo", "admin/form/_seo.html.twig") }}

								</div>
							</div>
						</div>
					</div>
				{% endif %}

				<div class="col-12">
					<div class="card shadow mt-3">
						<div class="card-header d-flex align-items-center">
							<h6 class="m-0 font-weight-bold text-primary">{{ "form.title.content"|trans }}</h5>
						</div>
						<div class="card-body">
							
							{{ block("header", "admin/page/_form.html.twig") }}

							{{ block("content", "admin/page/_form.html.twig") }}
							
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-12">
			<div class="card shadow">
				<div class="card-header d-flex align-items-center">
					<h6 class="m-0 font-weight-bold text-primary">{{ "form.title.aside"|trans }}</h5>
				</div>
				<div class="card-body">

					{{ block("aside", "admin/page/_form.html.twig") }}

				</div>
			</div>
		</div>

		{{ block("submit", "admin/page/_form.html.twig") }}

	</div>
	
	{{ form_end(form, {"render_rest": false}) }}

{% endblock %}

{% block javascripts %}

	{% if form.internalTemplate is defined %}
		{{ encore_entry_script_tags("tinymce") }}
	{% endif %}

{% endblock %}

