{% extends "admin/base.html.twig" %}

{% block title "page.title.h1"|trans %}

{% block title_h1 "page.title.h1"|trans %}

{% block stylesheets %}
  <link href="{{ asset("sbadmin2/vendor/datatables/dataTables.bootstrap4.min.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="card shadow my-4">
        <div class="card-header py-2 d-flex align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Pages</h6>
            <a href="{{ path("admin_page_add") }}" class="btn btn-success btn-icon-split ml-auto btn-sm">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">{{ "page.buttons.add"|trans }}</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="pageTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Url</th>
                            <th>Créé le</th>
                            <th>Modifié le</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for page in pages %}
                        <tr>
                            <td><span class="font-weight-bold">{{ page.title }}</span></td>
                            <td>/{{ page.slug }}</td>
                            <td>{{ page.createdAt | date("d-m-Y H:i") }}</td>
                            <td>{{ page.updatedAt | date("d-m-Y H:i") }}</td>
                            <td>
                                {# <a href="{{ path("admin_page_show", {"id": page.id}) }}" class="btn btn-info rounded with-icon">
                                    <i class="far fa-eye"></i>
                                </a> #}
								<a href="{{ path("admin_page_edit", {"id": page.id}) }}" class="btn btn-primary rounded with-icon">
									<i class="far fa-edit"></i>
								</a>
								{# <a href="{{ path("admin_page_delete", {"id": page.id}) }}" class="btn btn-danger rounded with-icon">
									<i class="far fa-trash-alt"></i>
								</a> #}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset("sbadmin2/vendor/datatables/jquery.dataTables.min.js") }}"></script>
  <script src="{{ asset("sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js") }}"></script>

  {{ encore_entry_script_tags('datatable_page') }}
{% endblock %}